*{
    background-color: #1f1f1f;
    color: #d4d4d4;
}

hr{
    width: 100%;
}

.LinkToSocialMedia{
    text-align: right;
    vertical-align: top;
    margin: 5px;
}
.icon-for-social-media{
    width: 2rem;
    height: 2rem;
}

#band-logo-header{
    height: 12.5rem;
    width: 35rem;
}

header{
    text-align: center;
    margin: 10px 10px 10px 10px;
}

.HeaderPicture{
    margin: auto;
    display: block;
    padding: 10px;
}

#basket_row{
    display: flex;
    justify-content: right;
    margin: 10px;
}

.Navigationbar{
    margin: 10px;
}

.Navigationbar a {
    display: inline-block;
    color: #d4d4d4;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 150%;
    border-radius: 10px;
}
.Navigationbar a:hover, .Navigationbar a.active:hover {
    background-color: #d4d4d4;
    color: #1f1f1f;
    text-align: center;
}
.Navigationbar a.active {
    background-color: #A80000;
    color: #d4d4d4;
}

footer{
    text-align: center;
    margin: 10px;
    color: #71706F;
}

footer a{
    text-decoration: none;
}

.footer-navigationbar{
    margin: 10px;
}

.footer-navigationbar a {
    display: inline-block;
    color: #d4d4d4;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 150%;
    border-radius: 10px;
}

