main{
    align-content: center;
}

#chat-area{
    margin: auto;
    width: 50rem;
    height: 60rem;
    border-radius: 1rem;
    border: 3px solid #d4d4d4;
    background-color: #707070;
    vertical-align: bottom;
}

#chat-area hr{
    width: 95%;
}

#info-area{
    margin: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    border: 2px solid #731010;
    background-color: #A80000;
    color: #d4d4d4;
}

#info-area p{
    background-color: #A80000;
}