main{
    margin: 1rem;
}

table{
    width: 50rem;
    padding: 1rem;
    text-align: center;
    border-collapse: collapse;
    margin:auto;

}

.name-of-section{
    text-align: left;
    padding-left: 5rem;
    background-color: #731010;
}

.name-of-column td{
    text-align: center;
    background-color: #731010;
}

td{
    padding: 0.5rem;
    font-size: 110%;
    border: 0.1rem solid #d4d4d4;
}

a img{
    width: 7rem;
}

a img:hover{
    box-shadow: 3px 3px 1px #707070 ;
}



