main{
    margin: 1rem;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login-register-base{
    width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem;
    justify-content: center;
    border: 0.15rem solid #71706F;
    border-radius: 10px;
    background-color: #707070;
}

.login-register-base h2{
    background-color: #707070;
    color: #1f1f1f;
    width: 40rem;
    text-align: center;
}

.login-register-base label{
    margin-left:0.5rem;
    background-color: #707070;
    color: #1f1f1f;
    font-weight: bold;
    font-size: larger;
}

.login-register-base input{
    width: 38rem;
    padding: 1rem 0.5rem;
    margin: 0.5rem;
    border: 1px solid #71706F;
    border-radius: 4px;
}

.button-outer-area{
    text-align: center;
    background-color: #707070;
}

.login-register-button{
    width: 39rem;
    background-color: #A80000;
    color: #d4d4d4;
    font-weight: bold;
    padding: 1rem 0.5rem;
    border-radius: 4px;
    cursor: pointer;
}

.login-register-button:hover{
    background-color: #731010;
}