#content-container{
    margin: auto;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo{
    width: 30rem;
    display: block;
    height: auto;
}

.info-table{
    margin: 5rem 2rem;
    width: 26rem;
    text-align: left;
}

.info-table caption{
    font-size: larger;
}

